/*global*/
a {
    color: inherit;
    text-decoration: none;
}

html{
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
    position: relative;
    height: auto;
    overflow-y: hidden;
}

body{
    position: absolute;
    overflow: hidden;
}

body.desktop{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/*cursor style*/

body.rightArrow{
    cursor: url("../img/right-arrow.png") ,  e-resize;
}


body.leftArrow{
    cursor:url("../img/left-arrow.png") , w-resize;
}

#content{
    font-family: courier_regular , courier , monospace;
    letter-spacing: 1px;
    font-size: 16px;
}

/*left menu*/

#left-menu-container {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    color: white;
    z-index: 4;
}

#left-menu .menu-content .title {
    background: url('../img/logo.png') no-repeat;
    background-size: contain;
    text-indent: -9999px;
    height: 27px;
    margin-top: 30px;
    cursor: pointer;
    width: 100%;
    position: relative;
    z-index: 90;
}

#left-menu .menu-content .subtitle {
    margin-top: 62px;
    font-size: 0.8em;
    line-height: 1.2em;
}
hr {
    margin: 28px 0;
}
#left-menu li {
    text-transform: uppercase;
    margin-top: 14px;
    cursor: pointer;
    font-size: 0.9em;
}

#left-menu li:hover , #left-menu li.active{
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/*right menu*/

#right-content {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
}

.menu-content{
    position: absolute;
}

#social {
    left: -4px;
    bottom: 0;
    position: absolute;
    margin-bottom: -7px;
}

#menu-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    font-size: 0.7em;
}

#mobile-menu-close {
    display: inline-block;
    right: 0;
    bottom: 0;
    position: absolute;
}

#copyright {
    bottom: 0;
    right: 0;
    position: absolute;
    text-transform: uppercase;
}

#background-container {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
}
.background {
    position: absolute;
}

.background.loading {
    background-color: black;
    background-image: url("../img/loader.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.background img {
    width: 100%;
    height: 100%;
}

.fbook-icon {
    background: url('../img/fbook-icon.png') no-repeat;
    background-size: contain;
}
.twitter-icon {
    background: url('../img/tw-icon.png') no-repeat;
    background-size: contain;
    margin-left: 6px;
}



/*scrollbar*/
::-webkit-scrollbar {
    width: 5px;
    margin-left: 20px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.3);
 
}
 
::-webkit-scrollbar-thumb { 
    background-color: rgba(255,255,255,0.3);
}

/*bullets*/

.list .subtitle {
    font-size: 1em;
    line-height: 1.5em;
}
.list .bullet {
    font-size: 14px;
    margin-top: 25px;
    position: relative;
    margin-left: 21px;
    cursor: pointer;
}

.bullet .title {
    cursor: pointer;
    font-size: 1.1em;
}

.bullet .body {
    display: none;
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 12px;
}

.bullet-icon {
    width: 10px;
    height: 10px;
    background-image: url('../img/plus.png');
    position: absolute;
    background-size: contain;
    left: -20px;
    top: 1px;
}

.bullet-icon.open {

    background-image: url('../img/minus.png');

}

.social-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

/*gallery*/
.gallery .title {
    margin-bottom: 21px;
    font-size: 18px;
    font-family: courier_bold;
}
.gallery .body {
    font-size: 14px;
    line-height: 1.4em;
}

.content-container {
    padding-bottom: 30px;
    font-size: 14px;
}

/*philosophy*/

.progress-container {
    width: 100px;
    height: 20px;
    bottom: -10px;
    right: -21px;
    position: absolute;
}

.progBlock {
    width: 7px;
    height: 7px;
    border: solid 1px white;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    margin-right: 10px;
}

.progBlock.active {
    background-color: white;
}



/*contact*/

#clients-container .body {
    font-size: 1em;
    line-height: 1.5em;
}
.contact-column {
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 1.6em;
}

.contact-column-container {
    width: 100%;
    height: 32px;
}

.contact-twitter-title {
    margin-bottom: 20px;
    font-style: italic;
}
.tweet {
    margin-bottom: 23px;
}
.user {
    float: left;
    margin-right: 10px;
    font-family: courier_bold;
}
.tweet-title {
    margin-bottom: 10px;
}

.tweet-title .date {
    font-family: courier_italic;
    font-size: 0.8em;
}